# Crypto Currencies Stock Data for Python Using Yahoo Finance API

!pip3 install yfinance

Note: Using the Public API (without authentication), you are limited to 2,000 requests per hour per IP (or up to a total of 48,000 requests a day).

In [6]:
import yfinance as yf
import pandas as pd
import requests

## Get Historical Market Data

In [7]:
tick = "BTC-USD"

Get the closing price for the last 5 years for each tick.

In [8]:
ticker = yf.Ticker(tick)
hist_tick = ticker.history(start="2016-12-16", end="2021-06-24")

In [9]:
hist_tick

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-12-15,780.070007,781.434998,777.802002,778.088013,81580096,0,0
2016-12-16,778.963013,785.031982,778.963013,784.906982,83608200,0,0
2016-12-17,785.166016,792.508972,784.864014,790.828979,78989800,0,0
2016-12-18,791.007996,794.737000,788.026001,790.530029,60524400,0,0
2016-12-19,790.692017,793.611023,790.320007,792.713989,74886400,0,0
...,...,...,...,...,...,...,...
2021-06-19,35854.527344,36457.796875,34933.062500,35615.871094,31207279719,0,0
2021-06-20,35563.140625,36059.484375,33432.074219,35698.296875,36664034054,0,0
2021-06-21,35641.144531,35721.640625,31295.935547,31676.693359,52809038594,0,0
2021-06-22,31622.376953,33292.453125,28893.621094,32505.660156,58964353058,0,0
2021-06-23,32515.714844,34753.410156,31772.632812,33723.027344,46317108925,0,0

In [10]:
hist_tick.to_csv('BTC.csv')