# Free Stock Data for Python Using Finnhub Stock API

To access the API a free registration is required at https://finnhub.io/dashboard

The API documentation: https://finnhub.io/docs/api

## Stock Candles

API example: https://finnhub.io/docs/api#stock-candles

* Get candlestick data for stocks going back 25 years for US stocks.

* Real-time stock prices for international markets are supported for Enterprise clients via our partner's feed. Contact Us to learn more.

**Free Tier:** 1 year of historical data and new updates

### Set the parameters for the request

In [1]:
stock = "VGT" #S&P 500 Vanguard ETF
start_date = '21/01/2020'
end_date = '21/01/2021'
api_key = 'YOUR API KEY'

### Set the time stamps

In [2]:
import time
from datetime import datetime

start = int(time.mktime(datetime.strptime(start_date, "%d/%m/%Y").timetuple()))
end = int(time.mktime(datetime.strptime(end_date, "%d/%m/%Y").timetuple()))

### Send the request
**Note:** The download limit is 10 requests per minute

In [3]:
import requests

params={
    'symbol': stock,
    'resolution': 'D', # Data resolution - one day
    'from': start,
    'to': end,
    'token': api_key
}

response = requests.get(f'https://finnhub.io/api/v1/stock/candle', params)

### Show the data

In [4]:
import pandas as pd

data = response.json()
data_frame = pd.DataFrame.from_dict(data)

Response Attributes:
* **o** List of open prices for returned candles.
* **h** List of high prices for returned candles.
* **l** List of low prices for returned candles.
* **c** List of close prices for returned candles.
* **v** List of volume data for returned candles.
* **t** List of timestamp for returned candles.
* **s** Status of the response. This field can either be ok or no_data.

In [5]:
data_frame

          c         h         l       o   s           t        v
0    259.25  260.7900  258.7361  258.88  ok  1579564800   734803
1    260.32  262.1290  260.0700  261.07  ok  1579651200   763139
2    261.61  261.6100  259.4100  260.47  ok  1579737600   464059
3    260.26  263.9900  259.2500  263.49  ok  1579824000   790826
4    254.05  255.9500  251.4400  254.06  ok  1580083200  1072324
..      ...       ...       ...     ...  ..         ...      ...
248  355.56  356.9000  353.5150  354.09  ok  1610496000   484156
249  353.34  357.6611  352.8400  356.53  ok  1610582400   418725
250  349.62  354.6500  348.8000  352.93  ok  1610668800   519729
251  353.98  354.6500  350.9600  352.10  ok  1611014400   503090
252  360.68  361.6879  356.7900  356.79  ok  1611100800   491237

[253 rows x 7 columns]