# SLV ETF Data for Python Using Yahoo Finance API

!pip3 install yfinance

Note: Using the Public API (without authentication), you are limited to 2,000 requests per hour per IP (or up to a total of 48,000 requests a day).

In [1]:
import yfinance as yf
import pandas as pd
import requests

## Get Historical Market Data

In [2]:
tick = "SLV"

Get the closing price for the last 5 years for each tick.

In [3]:
ticker = yf.Ticker(tick)
hist_tick = ticker.history(start="2016-05-14", end="2021-12-14")

In [4]:
hist_tick

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-05-13,16.160000,16.290001,16.080000,16.280001,6156500,0,0
2016-05-16,16.480000,16.549999,16.270000,16.320000,6588700,0,0
2016-05-17,16.309999,16.500000,16.290001,16.410000,5992300,0,0
2016-05-18,16.160000,16.320000,15.900000,16.000000,13533300,0,0
2016-05-19,15.570000,15.720000,15.530000,15.670000,17547100,0,0
...,...,...,...,...,...,...,...
2021-12-07,20.680000,20.910000,20.670000,20.809999,18763300,0,0
2021-12-08,20.700001,20.799999,20.629999,20.760000,14075400,0,0
2021-12-09,20.459999,20.490000,20.270000,20.299999,23767500,0,0
2021-12-10,20.520000,20.540001,20.400000,20.500000,17760800,0,0
2021-12-13,20.650000,20.740000,20.590000,20.610001,16422300,0,0

In [5]:
hist_tick.to_csv('SLV.csv')