# Crypto Currencies Stock Data for Python Using Yahoo Finance API

!pip3 install yfinance

Note: Using the Public API (without authentication), you are limited to 2,000 requests per hour per IP (or up to a total of 48,000 requests a day).

In [1]:
import yfinance as yf
import pandas as pd
import requests

## Get Historical Market Data

Based on [Dogecoin Crypto Currency Analysis](https://www.youtube.com/watch?v=XUsidyuMFsE) from [
Computer Science](https://www.youtube.com/channel/UCbmb5IoBtHZTpYZCDBOC1CA) YouTube channel

In [2]:
tick = "BTC-USD"

Get the closing price for the last 5 years for each tick.

In [3]:
ticker = yf.Ticker(tick)
hist_tick = ticker.history(start="2019-12-09", end="2021-05-22")

In [4]:
hist_tick

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-12-08,7551.338867,7634.606445,7476.091309,7564.345215,15409908086,0,0
2019-12-09,7561.795410,7618.091797,7365.985352,7400.899414,17872021272,0,0
2019-12-10,7397.134277,7424.022949,7246.043945,7278.119629,18249031195,0,0
2019-12-11,7277.197754,7324.156250,7195.527344,7217.427246,16350490689,0,0
2019-12-12,7216.738770,7266.639648,7164.741211,7243.134277,18927080224,0,0
...,...,...,...,...,...,...,...
2021-05-17,46415.898438,46623.558594,42207.289062,43537.511719,74903638450,0,0
2021-05-18,43488.058594,45812.457031,42367.832031,42909.402344,56187365084,0,0
2021-05-19,42944.976562,43546.117188,30681.496094,37002.441406,126358098747,0,0
2021-05-20,36753.667969,42462.984375,35050.617188,40782.738281,88281943359,0,0
2021-05-21,40596.949219,42172.171875,33616.453125,37304.691406,82051616861,0,0

In [5]:
hist_tick.to_csv('BTC.csv')