# S&P 500 ETF Data for Python Using Yahoo Finance API

!pip3 install yfinance

Note: Using the Public API (without authentication), you are limited to 2,000 requests per hour per IP (or up to a total of 48,000 requests a day).

In [1]:
import yfinance as yf
import pandas as pd
import requests

## Get Historical Market Data

In [2]:
tick = "IVV"

Get the closing price for the last 5 years for each tick.

In [3]:
ticker = yf.Ticker(tick)
hist_tick = ticker.history(period="10y")

In [4]:
hist_tick

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2012-03-02,114.143598,114.250996,113.581850,113.879250,2574000,0.0,0
2012-03-05,113.614868,113.738779,112.995286,113.408340,2560000,0.0,0
2012-03-06,112.210520,112.260085,111.392667,111.657028,4195300,0.0,0
2012-03-07,111.979164,112.673093,111.855240,112.491348,2556000,0.0,0
2012-03-08,113.185280,113.837914,112.945714,113.598335,2587000,0.0,0
...,...,...,...,...,...,...,...
2022-02-23,434.480011,435.149994,423.170013,423.480011,11345100,0.0,0
2022-02-24,412.799988,430.609985,412.399994,430.140015,19259900,0.0,0
2022-02-25,431.440002,439.769989,429.760010,439.609985,9651300,0.0,0
2022-02-28,433.929993,440.119995,432.600006,438.720001,11167900,0.0,0
2022-03-01,437.000000,439.089996,429.089996,431.920013,14286100,0.0,0

In [5]:
hist_tick.to_csv('SP500.csv')