# Multiple Stock Data for Python Using Yahoo Finance API

!pip3 install yfinance

Note: Using the Public API (without authentication), you are limited to 2,000 requests per hour per IP (or up to a total of 48,000 requests a day).

In [1]:
import yfinance as yf

In [2]:
sp500 = yf.Ticker("^GSPC")

## Get Historical Market Data

In [3]:
hist_sp500 = sp500.history(start="2020-03-1", end="2020-08-18")

In [4]:
hist_sp500

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-03-02,2974.280029,3090.959961,2945.189941,3090.229980,6376400000,0,0
2020-03-03,3096.459961,3136.719971,2976.629883,3003.370117,6355940000,0,0
2020-03-04,3045.750000,3130.969971,3034.379883,3130.120117,5035480000,0,0
2020-03-05,3075.699951,3083.040039,2999.830078,3023.939941,5575550000,0,0
2020-03-06,2954.199951,2985.929932,2901.540039,2972.370117,6552140000,0,0
...,...,...,...,...,...,...,...
2020-08-11,3370.340088,3381.010010,3326.439941,3333.689941,5087650000,0,0
2020-08-12,3355.459961,3387.889893,3355.459961,3380.350098,3768560000,0,0
2020-08-13,3372.949951,3387.239990,3363.350098,3373.429932,3648810000,0,0
2020-08-14,3368.659912,3378.510010,3361.639893,3372.850098,3193400000,0,0
2020-08-17,3380.860107,3387.590088,3379.219971,3381.989990,3671290000,0,0

In [5]:
hist_sp500.to_csv("SP500.csv")