# Stock Data for Python Using Yahoo Finance API

!pip3 install yfinance

Note: Using the Public API (without authentication), you are limited to 2,000 requests per hour per IP (or up to a total of 48,000 requests a day).

In [1]:
import yfinance as yf
import pandas as pd
import requests

## Get Historical Market Data

Based on [Dogecoin Crypto Currency Analysis](https://www.youtube.com/watch?v=XUsidyuMFsE) from [
Computer Science](https://www.youtube.com/channel/UCbmb5IoBtHZTpYZCDBOC1CA) YouTube channel

In [2]:
tick = "AAPL"

In [3]:
ticker = yf.Ticker(tick)
hist_tick = ticker.history(start="2010-10-16", end="2021-10-16")

Generate dataset where each date has values

In [4]:
hist_tick

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-10-15,9.427611,9.659438,9.350029,9.651464,922194000,0.0,0.0
2010-10-18,9.765844,9.782095,9.637664,9.751431,1093010800,0.0,0.0
2010-10-19,9.303722,9.621716,9.200075,9.490471,1232784000,0.0,0.0
2010-10-20,9.475446,9.636436,9.410130,9.522363,721624400,0.0,0.0
2010-10-21,9.578477,9.651459,9.407981,9.491389,551460000,0.0,0.0
...,...,...,...,...,...,...,...
2021-10-11,142.270004,144.809998,141.809998,142.809998,64452200,0.0,0.0
2021-10-12,143.229996,143.250000,141.039993,141.509995,73035900,0.0,0.0
2021-10-13,141.240005,141.399994,139.199997,140.910004,78762700,0.0,0.0
2021-10-14,142.110001,143.880005,141.509995,143.759995,69907100,0.0,0.0
2021-10-15,143.770004,144.899994,143.509995,144.839996,67885200,0.0,0.0

In [5]:
hist_tick.to_csv('AAPL_Data.csv')