# Multiple Stock Data for Python Using Yahoo Finance API

!pip3 install yfinance

Note: Using the Public API (without authentication), you are limited to 2,000 requests per hour per IP (or up to a total of 48,000 requests a day).

In [1]:
import yfinance as yf
import pandas as pd
import requests

## Get Historical Market Data

Ticks obtained from [Nasdaq 100 Companies](https://www.slickcharts.com/nasdaq100) on 1 july 2021

In [2]:
ticks_list = [
    "AAPL", "MSFT", "AMZN", "FB", "GOOG", "TSLA", "NVDA", "GOOGL", "PYPL", "ADBE", "CMCSA", "NFLX",
    "INTC", "CSCO", "PEP", "AVGO", "TMUS", "TXN", "COST", "QCOM", "AMGN", "CHTR", "INTU", "SBUX",
    "AMAT", "AMD", "ISRG", "MU", "MRNA", "LRCX", "ZM", "BKNG", "MDLZ", "GILD", "ADP", "MELI",
    "ATVI", "CSX", "FISV", "ILMN", "JD", "ADSK", "ADI", "REGN", "NXPI", "ASML", "DOCU", "IDXX",
    "BIDU", "VRTX", "BIIB", "KDP", "KHC", "KLAC", "ALGN", "MNST", "PDD", "EBAY", "MRVL", "LULU",
    "WBA", "WDAY", "MAR", "ROST", "MTCH", "EXC", "AEP", "SNPS", "DXCM", "EA", "MCHP", "ALXN",
    "CTAS", "ORLY", "PAYX", "CDNS", "CTSH", "XLNX", "XEL", "TEAM", "NTES", "PTON", "SWKS", "CPRT",
    "PCAR", "OKTA", "ANSS", "FAST", "SGEN", "VRSK", "MXIM", "SIRI", "VRSN", "CDW", "SPLK", "CERN",
    "DLTR", "TCOM", "INCY", "CHKP", "FOX"
]

In [3]:
def get_company_name(symbol):
    url = 'http://d.yimg.com/autoc.finance.yahoo.com/autoc?query='+symbol+'&region=1&lang=en'
    result = requests.get(url).json()
    for r in result['ResultSet']['Result']:
        if r['symbol']==symbol:
            return r['name']

In [4]:
company_name = []
for symbol in ticks_list:
    name = get_company_name(symbol)
    company_name.append(name)
    print(symbol, name)

AAPL Apple Inc.
MSFT Microsoft Corporation
AMZN Amazon.com, Inc.
FB Facebook, Inc.
GOOG Alphabet Inc.
TSLA Tesla, Inc.
NVDA NVIDIA Corporation
GOOGL Alphabet Inc.
PYPL PayPal Holdings, Inc.
ADBE Adobe Inc.
CMCSA Comcast Corporation
NFLX Netflix, Inc.
INTC Intel Corporation
CSCO Cisco Systems, Inc.
PEP PepsiCo, Inc.
AVGO Broadcom Inc.
TMUS T-Mobile US, Inc.
TXN Texas Instruments Incorporated
COST Costco Wholesale Corporation
QCOM QUALCOMM Incorporated
AMGN Amgen Inc.
CHTR Charter Communications, Inc.
INTU Intuit Inc.
SBUX Starbucks Corporation
AMAT Applied Materials, Inc.
AMD Advanced Micro Devices, Inc.
ISRG Intuitive Surgical, Inc.
MU Micron Technology, Inc.
MRNA Moderna, Inc.
LRCX Lam Research Corporation
ZM Zoom Video Communications, Inc.
BKNG Booking Holdings Inc.
MDLZ Mondelez International, Inc.
GILD Gilead Sciences, Inc.
ADP Automatic Data Processing, Inc.
MELI MercadoLibre, Inc.
ATVI Activision Blizzard, Inc.
CSX CSX Corporation
FISV Fiserv, Inc.
ILMN Illumina, Inc.
JD JD.com, Inc.
ADSK Autodesk, Inc.
ADI Analog Devices, Inc.
REGN Regeneron Pharmaceuticals, Inc.
NXPI NXP Semiconductors N.V.
ASML ASML Holding N.V.
DOCU DocuSign, Inc.
IDXX IDEXX Laboratories, Inc.
BIDU Baidu, Inc.
VRTX Vertex Pharmaceuticals Incorporated
BIIB Biogen Inc.
KDP Keurig Dr Pepper Inc.
KHC The Kraft Heinz Company
KLAC KLA Corporation
ALGN Align Technology, Inc.
MNST Monster Beverage Corporation
PDD Pinduoduo Inc.
EBAY eBay Inc.
MRVL Marvell Technology, Inc.
LULU Lululemon Athletica Inc.
WBA Walgreens Boots Alliance, Inc.
WDAY Workday, Inc.
MAR Marriott International, Inc.
ROST Ross Stores, Inc.
MTCH Match Group, Inc.
EXC Exelon Corporation
AEP American Electric Power Company, Inc.
SNPS Synopsys, Inc.
DXCM DexCom, Inc.
EA Electronic Arts Inc.
MCHP Microchip Technology Incorporated
ALXN Alexion Pharmaceuticals, Inc.
CTAS Cintas Corporation
ORLY O'Reilly Automotive, Inc.
PAYX Paychex, Inc.
CDNS Cadence Design Systems, Inc.
CTSH Cognizant Technology Solutions Corporation
XLNX Xilinx, Inc.
XEL Xcel Energy Inc.
TEAM Atlassian Corporation Plc
NTES NetEase, Inc.
PTON Peloton Interactive, Inc.
SWKS Skyworks Solutions, Inc.
CPRT Copart, Inc.
PCAR PACCAR Inc
OKTA Okta, Inc.
ANSS ANSYS, Inc.
FAST Fastenal Company
SGEN Seagen Inc.
VRSK Verisk Analytics, Inc.
MXIM Maxim Integrated Products, Inc.
SIRI Sirius XM Holdings Inc.
VRSN VeriSign, Inc.
CDW CDW Corporation
SPLK Splunk Inc.
CERN Cerner Corporation
DLTR Dollar Tree, Inc.
TCOM Trip.com Group Limited
INCY Incyte Corporation
CHKP Check Point Software Technologies Ltd.
FOX Fox Corporation

Get the closing price for the last 5 years for each tick.

In [5]:
stock_data = []
for tick in ticks_list:
    ticker = yf.Ticker(tick)
    hist_tick = ticker.history(period="9y")
    if 'Close' in hist_tick.columns:
        stock_tick = hist_tick[['Close']].copy()
        stock_tick.rename(columns={'Close': tick}, inplace=True)
        stock_data.append(stock_tick)

Generate dataset where each date has values

In [6]:
price_data_inner = pd.concat(stock_data, axis=1, join='inner')

In [7]:
price_data_inner

,AAPL,MSFT,AMZN,FB,GOOG,TSLA,NVDA,GOOGL,PYPL,ADBE,...,SIRI,VRSN,CDW,SPLK,CERN,DLTR,TCOM,INCY,CHKP,FOX
Date,,,,,,,,,,,,,,,,,,,,,
2019-09-26,54.165604,136.976501,1739.839966,180.110001,1241.390015,48.512001,176.815750,1242.290039,104.550003,283.809998,...,6.162197,191.190002,120.895943,119.570000,67.059151,112.459999,29.809999,73.760002,109.120003,30.805765
2019-09-27,53.902031,135.199753,1725.449951,177.100006,1225.089966,48.425999,171.252243,1225.949951,102.199997,277.540009,...,6.112978,187.250000,119.318611,118.059998,67.068954,114.300003,29.020000,72.820000,108.169998,30.815557
2019-09-30,55.170628,136.475876,1735.910034,178.080002,1219.000000,48.174000,173.555435,1221.140015,103.589996,276.250000,...,6.162197,188.630005,120.739189,117.860001,66.872765,114.160004,29.290001,74.230003,109.500000,30.874290
2019-10-01,55.323353,134.551910,1735.650024,175.809998,1205.099976,48.938000,173.485611,1206.000000,102.529999,272.709991,...,6.083447,183.949997,118.662216,117.070000,66.176277,113.250000,29.840000,73.959999,107.430000,30.521889
2019-10-02,53.936512,132.176331,1713.229980,174.600006,1176.630005,48.625999,172.528458,1177.920044,99.730003,266.660004,...,6.132666,177.949997,117.388596,115.589996,65.273788,113.070000,29.940001,73.040001,107.949997,29.670250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-06-25,133.110001,265.019989,3401.459961,341.369995,2539.899902,671.869995,761.239990,2450.169922,289.600006,579.659973,...,6.520000,227.729996,171.770004,141.240005,78.449997,98.349998,35.730000,86.830002,116.730003,36.389999
2021-06-28,134.779999,268.720001,3443.889893,355.640015,2536.389893,688.719971,799.400024,2450.719971,293.649994,588.799988,...,6.510000,228.690002,173.789993,144.190002,78.500000,99.379997,35.590000,85.610001,117.930000,36.200001
2021-06-29,136.330002,271.399994,3448.139893,351.890015,2520.370117,680.760010,801.070007,2445.449951,292.760010,590.750000,...,6.550000,229.779999,176.330002,143.880005,78.360001,99.480003,35.509998,84.699997,116.790001,35.040001
2021-06-30,136.960007,270.899994,3440.159912,347.709991,2506.320068,679.700012,800.099976,2441.790039,291.480011,585.640015,...,6.540000,227.690002,174.649994,144.580002,78.160004,99.500000,35.459999,84.129997,116.129997,35.200001
2021-07-01,137.270004,271.600006,3432.969971,354.390015,2527.370117,677.919983,808.479980,2448.889893,289.000000,584.729980,...,6.570000,229.190002,175.800003,141.020004,78.489998,99.910004,35.340000,84.019997,116.730003,35.560001

In [8]:
price_data_inner.to_csv('shares_inner.csv')

Prepare data to be used for simulations in the [Build A Killer Stock Portfolio Using Python]

In [9]:
price_data_outer = pd.concat(stock_data, axis=1, join='outer')

In [10]:
price_data_outer

,AAPL,MSFT,AMZN,FB,GOOG,TSLA,NVDA,GOOGL,PYPL,ADBE,...,SIRI,VRSN,CDW,SPLK,CERN,DLTR,TCOM,INCY,CHKP,FOX
Date,,,,,,,,,,,,,,,,,,,,,
2012-07-02,18.196777,25.155634,229.320007,30.770000,289.151184,6.080000,12.359002,290.525513,NaN,32.189999,...,1.878873,43.380001,NaN,29.129999,40.365601,52.130001,8.250000,24.840000,48.459999,NaN
2012-07-03,18.408373,25.320263,229.529999,31.200001,292.817444,6.132000,12.680612,294.209198,NaN,32.509998,...,1.926081,44.290001,NaN,29.040001,40.775509,52.020000,8.160000,24.650000,49.529999,NaN
2012-07-05,18.731758,25.270874,227.059998,31.469999,296.847351,6.246000,12.551970,298.258270,NaN,32.529999,...,1.973288,44.990002,NaN,29.860001,40.487598,54.020000,8.200000,25.150000,50.250000,NaN
2012-07-06,18.607063,24.851065,225.050003,31.730000,291.895905,6.198000,12.313055,293.283295,NaN,31.370001,...,1.935522,43.810001,NaN,29.629999,40.024017,54.290001,7.970000,25.320000,47.270000,NaN
2012-07-09,18.853064,24.694664,225.050003,32.169998,291.910858,6.298000,12.147659,293.298309,NaN,30.430000,...,1.963847,43.430000,NaN,28.070000,40.409527,53.000000,7.740000,25.840000,44.959999,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-06-25,133.110001,265.019989,3401.459961,341.369995,2539.899902,671.869995,761.239990,2450.169922,289.600006,579.659973,...,6.520000,227.729996,171.770004,141.240005,78.449997,98.349998,35.730000,86.830002,116.730003,36.389999
2021-06-28,134.779999,268.720001,3443.889893,355.640015,2536.389893,688.719971,799.400024,2450.719971,293.649994,588.799988,...,6.510000,228.690002,173.789993,144.190002,78.500000,99.379997,35.590000,85.610001,117.930000,36.200001
2021-06-29,136.330002,271.399994,3448.139893,351.890015,2520.370117,680.760010,801.070007,2445.449951,292.760010,590.750000,...,6.550000,229.779999,176.330002,143.880005,78.360001,99.480003,35.509998,84.699997,116.790001,35.040001
2021-06-30,136.960007,270.899994,3440.159912,347.709991,2506.320068,679.700012,800.099976,2441.790039,291.480011,585.640015,...,6.540000,227.690002,174.649994,144.580002,78.160004,99.500000,35.459999,84.129997,116.129997,35.200001
2021-07-01,137.270004,271.600006,3432.969971,354.390015,2527.370117,677.919983,808.479980,2448.889893,289.000000,584.729980,...,6.570000,229.190002,175.800003,141.020004,78.489998,99.910004,35.340000,84.019997,116.730003,35.560001

In [11]:
price_data_outer.to_csv('shares_outer.csv')