# S&P 500 ETF Data for Python Using Yahoo Finance API

!pip3 install yfinance

Note: Using the Public API (without authentication), you are limited to 2,000 requests per hour per IP (or up to a total of 48,000 requests a day).

In [1]:
import yfinance as yf
import pandas as pd
import requests

## Get Historical Market Data

In [2]:
tick = "IVV"

Get the closing price for the last 5 years for each tick.

In [3]:
ticker = yf.Ticker(tick)
hist_tick = ticker.history(period="30y")

In [4]:
hist_tick

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2000-05-19,96.106028,96.106028,94.484962,94.779701,775500,0.0,0
2000-05-22,94.716551,94.716551,92.169162,94.190231,1850600,0.0,0
2000-05-23,94.463952,94.463952,92.758675,92.758675,373900,0.0,0
2000-05-24,92.800753,94.358660,92.063905,94.148132,400300,0.0,0
2000-05-25,94.337613,94.948145,92.884970,93.284973,69600,0.0,0
...,...,...,...,...,...,...,...
2021-09-08,452.899994,453.679993,450.869995,453.000000,4076800,0.0,0
2021-09-09,452.690002,454.579987,450.730011,450.980011,3851600,0.0,0
2021-09-10,453.059998,453.510010,447.299988,447.540009,3023500,0.0,0
2021-09-13,450.679993,450.929993,446.089996,448.579987,3007400,0.0,0
2021-09-14,450.079987,450.320007,445.200012,446.190002,3658400,0.0,0

In [5]:
hist_tick.to_csv('SP500.csv')