# Stock Data for Python Using Yahoo Finance API

!pip3 install yfinance

Note: Using the Public API (without authentication), you are limited to 2,000 requests per hour per IP (or up to a total of 48,000 requests a day).

In [1]:
import yfinance as yf
import pandas as pd
import requests

## Get Historical Market Data

Based on [Dogecoin Crypto Currency Analysis](https://www.youtube.com/watch?v=XUsidyuMFsE) from [
Computer Science](https://www.youtube.com/channel/UCbmb5IoBtHZTpYZCDBOC1CA) YouTube channel

In [2]:
tick = "AAPL"

In [3]:
ticker = yf.Ticker(tick)
hist_tick = ticker.history(start="2021-01-04", end="2021-10-01")

Generate dataset where each date has values

In [4]:
hist_tick

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-01-04,132.895605,132.985181,126.167216,128.804825,143301900,0.0,0
2021-01-05,128.287243,131.123921,127.829387,130.397324,97664900,0.0,0
2021-01-06,127.122723,130.437152,125.788985,126.007957,155088000,0.0,0
2021-01-07,127.759729,131.014441,127.262067,130.307755,109578200,0.0,0
2021-01-08,131.810677,132.009754,129.620969,131.432465,105158200,0.0,0
...,...,...,...,...,...,...,...
2021-09-24,145.660004,147.470001,145.559998,146.919998,53477900,0.0,0
2021-09-27,145.470001,145.960007,143.820007,145.369995,74150700,0.0,0
2021-09-28,143.250000,144.750000,141.690002,141.910004,108972300,0.0,0
2021-09-29,142.470001,144.449997,142.029999,142.830002,74602000,0.0,0
2021-09-30,143.660004,144.380005,141.279999,141.500000,88934200,0.0,0

In [5]:
hist_tick.to_csv('AAPL_Data.csv')