# Stock Data for Python Using Yahoo Finance API

!pip3 install yfinance

Note: Using the Public API (without authentication), you are limited to 2,000 requests per hour per IP (or up to a total of 48,000 requests a day).

In [1]:
import yfinance as yf
import pandas as pd
import requests

## Get Historical Market Data

Based on [Dogecoin Crypto Currency Analysis](https://www.youtube.com/watch?v=XUsidyuMFsE) from [
Computer Science](https://www.youtube.com/channel/UCbmb5IoBtHZTpYZCDBOC1CA) YouTube channel

In [2]:
tick = "AAPL"

In [3]:
def get_company_name(symbol):
    url = 'http://d.yimg.com/autoc.finance.yahoo.com/autoc?query='+symbol+'&region=1&lang=en'
    result = requests.get(url).json()
    for r in result['ResultSet']['Result']:
        if r['symbol']==symbol:
            return r['name']

In [4]:
company_name = get_company_name(tick)
print(tick, company_name)

AAPL Apple Inc.

Get the closing price for the last 5 years for each tick.

In [7]:
ticker = yf.Ticker(tick)
hist_tick = ticker.history(start="2017-04-21", end="2017-08-25")

Generate dataset where each date has values

In [8]:
hist_tick

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-04-20,33.474826,33.877794,33.460604,33.764015,93278400,0.0,0
2017-04-21,33.764013,33.820900,33.624160,33.723717,69283600,0.0,0
2017-04-24,34.015276,34.121944,33.939422,34.048462,68537200,0.0,0
2017-04-25,34.112466,34.347134,34.102982,34.259430,75486000,0.0,0
2017-04-26,34.245201,34.276018,33.986828,34.057938,80164800,0.0,0
...,...,...,...,...,...,...,...
2017-08-18,37.721174,38.113058,37.448768,37.635151,109712400,0.0,0
2017-08-21,37.635159,37.728351,37.064061,37.565865,105474000,0.0,0
2017-08-22,37.809591,38.232540,37.759413,38.179970,86418400,0.0,0
2017-08-23,38.010308,38.344841,37.964906,38.227753,77596400,0.0,0
2017-08-24,38.335289,38.409367,37.886059,38.058105,79275600,0.0,0

In [9]:
hist_tick.to_csv('AAPL_Data.csv')